body {
    text-align: center;
    background:radial-gradient(rgb(53,53,53),black);
    margin-top:100px;
    
}
canvas {
    position:relative;
}
h1{color:white}
.crossimage{
    background:url(../resources/cross.jpg);
    background-size:50px 50px;
    background-repeat:no-repeat;
}
.circleimage{
    background:url(../resources/circle.png);
    background-size:50px 50px;
    background-repeat:no-repeat;
}
